<div class="container mt-5">
  <h1 class="h1 text-center">Customers</h1>
  <% if policy(Customer).new? %>
    <%= link_to "Add new customer", new_customer_path, class: "btn btn-secondary" %>
  <% end %>

  <div class="container">
    <div class="row">
    <% @customers.each do |customer| %>

      <div class="col">
        <div class="custcontainer">
          <div class="card">
            <div class="imgBx">
              <% if customer.photo.attached? %>
              <%#= image_tag customer.image_url, class: "w-4 mh-4" %>
              <%= cl_image_tag customer.photo.key %>
              <% end %>
            </div>
            <div class="contentBx">
              <h2><%=customer.name%></h2>
              <div class="size">
                <h3>Customer Projects :</h3>
                <span><%= customer.softwares.count %></span>
              </div>
              <%= link_to "OPEN", customer_path(customer), class: "btn btn-secondary" %>
            </div>
          </div>
        </div>
      </div>

    <% end %>
    </div>
  </div>
</div>
