<div class="row my-3"></div>
<h1 class="pt-3 text-center">Create New Software</h1>
<div class="container mt-5" style="width: 25rem">
  <%= simple_form_for(@software) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :latitude, input_html: { min: '-90', max: '90' } %>
    <%= f.input :longitude, input_html: { min: '-180', max: '180' } %>
    <%= f.input :photo, as: :file %>
    <%= f.input :customer_id, collection: @collection, selected: @selected %>
    <%= f.submit class: "btn btn-secondary" %>
  <% end %>
</div>
<div class="row my-3"></div>
