<div class="container mt-5">
  <h1 class="h1 text-center">Available Software</h1>
  <% if policy(Software).new? %>
    <%= link_to "Add new software", new_software_path, class: "btn btn-secondary" %>
  <% end %>
  <%= form_tag softwares_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control my-4",
      placeholder: "Search for software"
    %>
    <%= submit_tag "Search", class: "btn btn-secondary" %>
  <% end %>

  <div class="container">
    <div class="row">
      <% @softwares.each do |software| %>
        <div class="col">
          <div class="custcontainer">
            <div class="card">
              <div class="imgBx">
                <% if software.photo.key.present? %>
                  <%= cl_image_tag software.photo.key, class: "w-4 mh-4" %>
                <% end %>
              </div>
              <div class="contentBx">
                <h2><%=software.title%></h2>
                <div class="size">
                  <h3><%= software.description %></h3>
                </div>
                <div class="size">
                  <%= link_to "OPEN", software_path(software), class: "btn btn-secondary mx-2 p-2" %>
                  <% if policy(Release).new? %>
                    <%= link_to "ADD NEW RELEASE", new_software_release_path(software), class: "btn btn-secondary mx-2 p-2" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row my-3"></div>
