<div class="container mt-5">
  <% if policy(Software).new? %>
    <%= link_to "Add new software", new_software_path, class: "p-2" %>
  <% end %>
  <% @softwares.each do |software| %>
    <div class="card m-2">
      <div class="d-flex">
        <div class="px-2">
          <%= image_tag software.image_url, class: "img-logo" %>
        </div>
        <div class="px-2">
          <h1 class="p-2"><%= link_to software.title, software_path(software) %></h1>
          <p class="p-2"><%= software.description %></p>
        </div>
      </div>
      <% if current_user %>
        <% if policy(Release).new? %>
          <%= link_to "Add new release", new_software_release_path(software), class: "p-2"%>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
