<div class="container mt-5">
  <% if policy(Software).new? %>
    <%= link_to "Add new software", new_software_path, class: "p-2" %>
  <% end %>
  <%= form_tag softwares_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search for software"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <div class="container">
    <div class="row">
      <% @softwares.each do |software| %>
        <div class="col">
          <div class="custcontainer">
            <div class="card">
              <div class="imgBx">
                <% if software.photo.key.present? %>
                  <%= cl_image_tag software.photo.key, class: "w-4 mh-4" %>
                <% end %>
              </div>
            </div>
            <div class="contentBx">
              <h2><%=software.title%></h2>
              <div class="size">
                <h3><%= software.description %></h3>
                <span>7</span>
              </div>
              <%= link_to "OPEN", software_path(software), class: "btn btn-flat" %>
              <% if policy(Release).new? %>
                <%= link_to "Add new release", new_software_release_path(software), class: "p-2 btn btn-flat"%>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
