<div class="container mt-5">
  <h1 class="p-2"><%= @software.title %></h1>
  <h3 class="p-2"><%= @software.price %> €</h2>
  <%= image_tag @software.image_url, class: "img-logo" %>
  <p class="p-2"><%= @software.description %></p>

  <% if policy(@software).edit? %>
    <%= link_to 'Edit', edit_software_path(@software)%>
  <% end %>
  <% if policy(@software).destroy? %>
    <%= link_to "Delete",
            software_path(@software),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <% end %>
  <% if current_user && current_user.role && current_user.role > 0 %>
    <%= link_to "Add new release", new_software_release_path(@software)%>
  <% end %>
  <hr>
  <h2>Available Releases</h2>
  <% @software.releases.each do |release| %>
    <div class="card m-2 p-2">
      <h3><%= release.version_number %></h3>
      <%= link_to "Download", release.software_url %>
    </div>
  <% end %>
  <div style="width: 100%; height: 200px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @geojson.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
