<div class="container mt-5">
  <h1 class="p-2"><%= @software.title %></h1>
  <h3 class="p-2"><%= @software.price %> €</h2>
  <%= image_tag @software.image_url, class: "img-logo" %>
  <p class="p-2"><%= @software.description %></p>

  <%= link_to 'Overview', softwares_path() %>
  <% if policy(@software).edit? %>
    <%= link_to 'Edit', edit_software_path(@software)%>
  <% end %>
  <% if policy(@software).destroy? %>
    <%= link_to "Delete",
            software_path(@software),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <% end %>
  <% if current_user && current_user.role && current_user.role > 0 %>
    <%= link_to "Add new release", new_software_release_path(@software)%>
  <% end %>
  <hr>
  <h2>Available Releases</h2>
  <% @software.releases.each do |release| %>
    <div class="card m-2 p-2">
      <h3><%= release.version_number %></h3>
      <% release.reviews.each do |review| %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0"><%= review.comment %>
          <span class="badge bg-dark rounded-pill"><%= review.rating %></span></li>
        </ul>
      <% end %>
      <%= link_to "Download", release.software_url %>
      <% if current_user && ((current_user.role && current_user.role > 1) || release.user == current_user) %>
        <%= link_to "Update release", edit_release_path(release) %>
      <% end %>
      <% if current_user %>
        <%= link_to "Create Review", new_release_review_path(release) %>
      <% end %>
    </div>
  <% end %>
</div>
