<div class="container-info mt-5 text-white">
  <h1 class="h1 text-center">
    <% if @software.customer.present? %>
    <%= @software.customer.name %>
    <% end %>
    <%= @software.title%>
  </h1>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="header">
          <h1 class="card-header text-white p-2 border-0">
            <% if @software.customer.present? %>
            <%= @software.customer.name %>
            <% end %>
            <%= @software.title%>
          </h1>
        </div>
        <div class="img border-0">
          <% if @software.photo.key.present? %>
          <%= cl_image_tag @software.photo.key, height: 150, width: 150, crop: :fill %>
          <% end %>
        </div>
        <p class="p-2"><%= @software.description %></p>
      </div>
    </div>
    <div class="col">
      <div class="card-map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @geojson.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

</div>

<div class="container-info mt-5 text-white">
  <h1 class="h1 text-center">Available Releases</h1>
  <% @software.releases.each do |release| %>
    <div class="card m-2 p-2">
      <div class="row">
        <div class="col">
          <h1 class="h1 text-white"><%= release.version_number %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= link_to "Download", release.software_url, class: "btn btn-secondary" %>

          <% if policy(release).edit? %>
            <%= link_to "Update release", edit_release_path(release), class: "btn btn-secondary" %>
          <% end %>
          <% if policy(Review).new? %>
            <%= link_to "Create Review", new_release_review_path(release), class: "btn btn-secondary" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col m-2">
          <% release.reviews.each do |review| %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0"><%= review.comment %>
              <span class="badge bg-dark rounded-pill"><%= review.rating %></span></li>
            </ul>
            <br>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container-info mt-5 text-white">
      <%= link_to 'Softwares Overview', softwares_path(), class: "btn btn-secondary" %>
      <%= link_to 'Customer Overview', customer_path(@software.customer), class: "btn btn-secondary"%>
      <% if policy(@software).edit? %>
        <%= link_to 'Edit', edit_software_path(@software), class: "btn btn-secondary"%>
      <% end %>
      <% if policy(@software).destroy? %>
        <%= link_to "Delete",
                software_path(@software),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "btn btn-danger" %>
      <% end %>
      <% if policy(Release).new? %>
        <%= link_to "Add new release", new_software_release_path(@software),class: "btn btn-secondary"%>
      <% end %>
</div>
